@import "variables";
@media (min-width: 1525px) {
    #contact {
        .container {
            display: flex;
            align-items: stretch;
        }
        .info-section {
            width: 35%;
            margin-left: 20px;
        }
        .content-area {
            width: 65%;
            background: aliceblue;
            height: 100vh; //padding: 0 0 0 25%;
            .form-container {
                display: inline-block;
                width: 30%;
                position: relative;
                height: 100%;
                .contact-form {
                    position: absolute;
                    overflow-y: auto;
                    top: 56px;
                    left: -250px;
                    width: 500px;
                    height: calc(100% - 112px);
                    background: $text;
                    color: aliceblue;
                    padding: 46px;
                    -webkit-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    -moz-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    h4 {
                        font-size: 1.4rem;
                        margin-bottom: 4rem;
                        margin-top: 2rem;
                    }
                    input,
                    textarea {
                        background: transparent;
                        border: none;
                        padding: 10px 0;
                        border-bottom: 2px solid $highlight;
                        width: 100%;
                        margin-bottom: 2rem;
                        font-size: 1.1rem;
                        line-height: 1.3;
                        color: aliceblue;
                    }
                    button.primary-btn {
                        border: none;
                        font-size: 1.2rem;
                        width: 100%;
                        margin: 0 0 0 0;
                    }
                }
            }
            .contact-section {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                padding: 56px 0 0 0;
                height: 100vh;
                overflow-y: auto;
                .contact-info {
                    h1 {
                        font-size: 2.3rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $text;
                        margin-bottom: 30px;
                        span {
                            color: $mainColor;
                        }
                    }
                    .contact-box {
                        padding: 30px;
                        transition: all .3s ease-in-out;
                        max-width: 1000px;
                        &:hover {
                            -webkit-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            -moz-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                        }
                        h5 {
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin: 1rem 0 1.5rem 0;
                            color: $secondaryColor;
                        }
                        p {
                            color: $text;
                            font-weight: 300;
                            line-height: 1.4;
                            margin: 0 0 2rem 0;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 995px) and (max-width: 1524px) {
    #contact {
        .container {
            display: flex;
            align-items: stretch;
        }
        .info-section {
            width: 25%;
            margin-left: 20px;
        }
        .content-area {
            width: 75%;
            background: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            .form-container {
                width: 75%;
                height: 100%;
                margin: 3rem 0;
                order: 2;
                .contact-form {
                    width: 100%;
                    height: 100%;
                    background: $text;
                    color: aliceblue;
                    padding: 46px;
                    -webkit-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    -moz-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    h4 {
                        font-size: 1.4rem;
                        margin-bottom: 4rem;
                        margin-top: 2rem;
                    }
                    input,
                    textarea {
                        background: transparent;
                        border: none;
                        padding: 10px 0;
                        border-bottom: 2px solid $highlight;
                        width: 100%;
                        margin-bottom: 2rem;
                        font-size: 1.1rem;
                        line-height: 1.3;
                        color: aliceblue;
                    }
                    button.primary-btn {
                        border: none;
                        font-size: 1.2rem;
                        width: 100%;
                        margin: 0 0 0 0;
                    }
                }
            }
            .contact-section {
                width: 50%
                ;
                padding: 56px 0 0 0;
                .contact-info {
                    h1 {
                        font-size: 2.3rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $text;
                        margin-bottom: 30px;
                        span {
                            color: $mainColor;
                        }
                    }
                    .contact-box {
                        padding: 30px;
                        transition: all .3s ease-in-out;
                        max-width: 1000px;
                        &:hover {
                            -webkit-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            -moz-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                        }
                        h5 {
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin: 1rem 0 1.5rem 0;
                            color: $secondaryColor;
                        }
                        p {
                            color: $text;
                            font-weight: 300;
                            line-height: 1.4;
                            margin: 0 0 2rem 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 994px) {
    #contact {
        .menu-icon {
            position: fixed;
            right: 20px;
            top: 15px;
            padding: 20px;
            z-index: 11;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        .info-section {
            width: 100%;
            flex-flow: row wrap;
            .info-box {
                margin-right: 3rem;
            }
        }
        .content-area {
            width: 100%;
            background: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            .form-container {
                width: 75%;
                height: 100%;
                margin: 3rem 0;
                order: 2;
                .contact-form {
                    width: 100%;
                    height: 100%;
                    background: $text;
                    color: aliceblue;
                    padding: 46px;
                    -webkit-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    -moz-box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    box-shadow: 10px 10px 10px 0px rgba(145, 140, 217, 0.5);
                    h4 {
                        font-size: 1.4rem;
                        margin-bottom: 4rem;
                        margin-top: 2rem;
                    }
                    input,
                    textarea {
                        background: transparent;
                        border: none;
                        padding: 10px 0;
                        border-bottom: 2px solid $highlight;
                        width: 100%;
                        margin-bottom: 2rem;
                        font-size: 1.1rem;
                        line-height: 1.3;
                        color: aliceblue;
                    }
                    button.primary-btn {
                        border: none;
                        font-size: 1.2rem;
                        width: 100%;
                        margin: 0 0 0 0;
                    }
                }
            }
            .contact-section {
                width: 50%
                ;
                padding: 56px 0 0 0;
                .contact-info {
                    h1 {
                        font-size: 2.3rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $text;
                        margin-bottom: 30px;
                        span {
                            color: $mainColor;
                        }
                    }
                    .contact-box {
                        padding: 30px;
                        transition: all .3s ease-in-out;
                        max-width: 1000px;
                        &:hover {
                            -webkit-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            -moz-box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                            box-shadow: 10px 10px 20px 0px rgba(64, 64, 71, 0.3);
                        }
                        h5 {
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin: 1rem 0 1.5rem 0;
                            color: $secondaryColor;
                        }
                        p {
                            color: $text;
                            font-weight: 300;
                            line-height: 1.4;
                            margin: 0 0 2rem 0;
                        }
                    }
                }
            }
        }
    }
}