@import "variables";

.home {
    
    .container {
        display: flex;
        align-items: stretch;
    }


    .info-section {
        width: 35%;
        margin-left: 20px;
        
    }

    .content-area {
        width: 65%;
        background: aliceblue;
        height: 100vh;
        //padding: 0 0 0 25%;

        .img-container {
            display: inline-block;
            width: 30%;
            position: relative;
            height: 100%;

            .user-img {
                position: absolute;
                top: 56px;
                left: -250px;
                width: 500px;
                height: calc(100% - 112px);
                filter: grayscale(100%);
                background: url(../img/whiteBgSm.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 10px 10px 30px 0px rgba(64,64,71,0.5);
                -moz-box-shadow: 10px 10px 30px 0px rgba(64,64,71,0.5);
                box-shadow: 10px 10px 30px 0px rgba(64,64,71,0.5);
            }
        }

        

        .profile-section {
            display: inline-block;
            vertical-align: top;
            max-width: 50%;
            padding: 20% 0 0 0;

            .profile {
                h1 {
                    font-size: 2.3rem;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $text;

                    span {
                        color: $mainColor;
                    }
                }

                h5 {
                    font-size: 1.2rem;
                    margin: 1rem 0 2rem 0;
                    color: $secondaryColor;
                }

                p {
                    color: $text;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        background: red;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: yellow;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: green;
    }
}
@media (min-width: 1200px) {
    body {
        background: blue;
    }
}