@import "variables";

.portfolio {

    .info-section {
        width: 20%;
    }
    
    .container {
        display: flex;
        align-items: stretch;
    }

    .content-area {
        width: 80%;
        background: aliceblue;
        height: 100vh;
        overflow: hidden;

        .work {
            margin-bottom: 56px;

            h1 {
            font-weight: 700;
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 56px;
            }
        
            .projects {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .project-box {
                    padding: 30px;
                    transition: all .3s ease-in-out;
                    height: 300px;

                    &:hover {
                        -webkit-box-shadow: 10px 10px 50px 0px rgba(64,64,71,0.3);
                        -moz-box-shadow: 10px 10px 50px 0px rgba(64,64,71,0.3);
                        box-shadow: 10px 10px 50px 0px rgba(64,64,71,0.3);
                    }

                    h5 {
                        font-weight: 600;
                        font-size: 1.1rem;
                        margin-bottom: 1.2rem;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 300;
                        margin-bottom: 1rem;
                    }
                }

                #loopLab {
                background: url(../img/whiteBgSm.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                }
            }
        }        
    }
}